<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.companyname.amazonpt">
    <uses-sdk android:minSdkVersion="21" android:targetSdkVersion="28" />
    <permission android:name="com.companyname.amazonpt.permission.C2D_MESSAGE"
              android:protectionLevel="signature" />
    <uses-permission android:name="com.companyname.amazonpt.permission.C2D_MESSAGE" />

  <application android:label="amazonpt.Android">
    <receiver android:name="com.onesignal.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
      <intent-filter>
        <action android:name="com.google.android.c2dm.intent.RECEIVE" />
        <category android:name="com.companyname.amazonpt" />
      </intent-filter>
    </receiver>
  </application>
</manifest>
